<div class="container mt-3">
  <div class=" d-flex justify-content-center">
    <div>
      <h1>Liste des magasins</h1>
      <% if @shops.empty? %>
        <h3>Pas de magasins disponible, ajoutez-en un!</h3>
      <% end %>
      <% @shops.each do |shop| %>
        <ul>
          <li><%= link_to shop.name, shop_path(shop)%></li>
        </ul>
      <% end %>
    </div>
  </div>
  <div class="mt-3 d-flex justify-content-center">
    <%= link_to "Ajouter un nouveau magasin", new_shop_path, class: "btn btn-primary" %>
  </div>
</div>
