<div class="footer">
  <div class="footer-links">
    <a href="https://github.com/FabrizioDurand" target="_blank"><i class="fab fa-github"></i></a>
    <a href="https://www.linkedin.com/in/fabrizio-durand-19264b97" target="_blank"><i class="fab fa-linkedin"></i></a>
  </div>
  <h2>ShopSchedule</h2>
  <div class="footer-copyright">
    This footer was made with <i class="fas fa-heart"></i>
  </div>
</div>
