<div class="banner" style="background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), url(https://img.freepik.com/vecteurs-libre/paysage-rue-urbaine-petite-boutique-restaurant_107791-1008.jpg?t=st=1675243851~exp=1675244451~hmac=00f4b454e9d530b8010f374a5e2292bebf9177b9d59e7e370c12bf930a3b4710);">
  <div class="container">
    <h1>Find your favorite shop opening hours!</h1>
    <h3>Search for shops all around the world</h3>
  </div>
</div>
